{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% block content %}
<head>
    <link href="{% static 'monash/css/default.css' %}" rel="stylesheet">
</head>

<legend style="text-align: center; border-bottom: 1px solid #e5e5e5;"> Log In to Store.Monash</legend>
<div class="container col-md-11 h-80">
  <div class="row">
    <div class="col-md-6">
      <div class="login-box h-100 mr-2">
      <form action=""
            method="post" class="form-horizontal" style="padding-top: 20px ; ">
        {% csrf_token %}
        <div class="form-group row">
          <input name="next_page" type="hidden" value="{{ next_page }}" />
          <div class="col-md-8">
            <img src="{% static 'monash/images/monash-uni-logo.png' %}"
                 class="monash-logo-login-form center-image">
          </div>
        </div>
        <div class="form-group row ml-4">
          <label for="username" class="col-md-2 col-form-label font-weight-bold">Username</label>
          <div class="col-md-6">
           <input type="text" class="form-control" name="username" maxlength="75" required="" id="id_username"
                  autocomplete="off" style="width: 70%;">
          </div>
        </div>
        <div class="form-group row ml-4">
          <div class="col-md-2">
            <label for="password" class="col-form-label font-weight-bold">Password</label>
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" name="password" required="" id="id_password"
                   autocomplete="off" style="width: 70%;">
          </div>
        </div>
        <div class="form-group row ml-4">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in"></i> Log In
             </button>
          </div>
        </div>
      </form>
    </div>
    </div>
    <div class="col-md-6">
      <div class="login-box h-100 ml-2">
      <img src="{% static 'monash/images/aaf-logo.png' %}"
           style="max-width: 50%" class="center-image">
      <p class="login-text">Log In using your University ID</p>
      <a href="{% url 'social:begin' 'aaf' %}?next=/">
          <img id="signInButton" class="center-image"
               src="{% static 'monash/images/aaf_service.png' %}" />
      </a>
    </div>
  </div>
</div>
</div>
<div class="container col-md-12 mt-4">
  <div class="row">
    <div class="col-md-12 ml-4">
      <div class="footer-text">
      <p><strong>New User?</strong> If you don't have an account yet, logging in with any of these methods will create
          an account for you. Logging in with the <strong>Australian Access Federation</strong> is the
          preferred authentication mechanism.  If you are not a Monash user and don't have an <strong>Australian Access Federation</strong>
          account, you can <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">Log In with your Google Account</a>,
          but this will require an additional activation step.</p>
    </div>
    </div>

  </div>
</div>
{% endblock content %}

