{% extends "tardis_portal/portal_template.html" %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'monash/css/default.css' %}" rel="stylesheet">
</head>

<legend style="text-align:center; border-bottom:1px solid #e5e5e5;">Log In to Store.Monash</legend>

<article class="text-center">
  <h4 class="mt-4">New User</h4>
  <p>Store.Monash will create an account for you automatically upon first login.</p>
  <h4 class="mt-4">Existing User</h4>
  <p>Logging in with the Australian Access Federation (AAF) is our preferred authentication mechanism.</p>
  <section id="loginAAF" class="mt-5">
    <p class="login-text">Log In using your University ID</p>
    <a href="{% url 'social:begin' 'aaf' %}?next=/">
      <img src="{% static 'monash/images/aaf_service.png' %}" width="223" height="54" alt="Log In using your University ID">
    </a>
  </section>
  <p class="mt-5">Please <a href="https://storemonash.readthedocs.io/en/latest/account_migration_aaf.html">migrate your Store.Monash account</a> from Monash Active Directory to AAF.</p>
  <p>In case you don't have AAF account, you can <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">login using Google Account</a>,<br>but this will require an additional activation step by administrators.</p>
</article>

{% endblock content %}
