
.center-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

.login-box {
    background-color: #e2e2e2;
    margin-top: 20px;
    padding: 20px 10px;

}

.login-text {
    text-align: center;
    font-weight: bold;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
    .monash-flexbox {
        display: flex;
    }
}

.monash-logo-login-form {
    width: 70%;
    max-width: 200px;
}
